@import "tailwindcss";

@theme {
  --color-primary: #1F5684;
  --color-primary-dark: #163f63;
  --color-primary-light: #2d72a8;
  --color-accent: #8E9DE1;
  --color-ink: #0F1115;
  --color-paper: #FAFAF9;


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}